@import "../../styles/index.scss";

.container {
  position: relative;
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
}

.title {
  min-height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;

  @include renderFont(
    $family: $font-family-additional,
    $size: $font-size-price
  );

  @media screen and (max-width: calc($screen-width-desktop-s - 1px)) {
    box-sizing: border-box;
    padding: 0 8px;
    font-size: $font-size-price-s;
  }
}

.default {
  margin-top: 120px;
}

.modal {
  margin-top: -65px;
  justify-content: flex-start;
}

.dish {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 20px;
  margin-bottom: 60px;

  @media screen and (max-width: calc($screen-width-desktop-s - 1px)) {
    box-sizing: border-box;
    padding: 0 8px;
    margin-top: 10px;
    margin-bottom: 24px;
  }
}

.dish_name {
  @include renderFont(
    $size: $font-size-heading,
    $line-height: $font-line-height-heading,
    $weight: 700
  );

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  @media screen and (max-width: calc($screen-width-desktop-s - 1px)) {
    font-size: $font-size-heading-s;
  }
}

.dish_status {
  @include renderFont();

  @media screen and (max-width: calc($screen-width-desktop-s - 1px)) {
    font-size: $font-size-text-s;
  }
}

.ingredients {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 48px;

  @media screen and (max-width: calc($screen-width-desktop-s - 1px)) {
    box-sizing: border-box;
    padding: 0 8px;
    gap: 16px;
  }
}

.ingredients_title {
  @include renderFont(
    $size: $font-size-heading,
    $line-height: $font-line-height-heading,
    $weight: 700
  );

  @media screen and (max-width: calc($screen-width-desktop-s - 1px)) {
    font-size: $font-size-heading-s;
  }
}

.ingredients_list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-height: 312px;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;

  @media screen and (max-width: calc($screen-width-desktop-s - 1px)) {
    max-height: calc(100vh - 255px);
    height: calc(100vh - 255px);
  }
}

.ingredients_item {
  display: grid;
  width: 100%;
  grid-template-columns: 64px 320px auto;
  align-items: center;
  gap: 16px;

  @media screen and (max-width: calc($screen-width-desktop-s - 1px)) {
    grid-template-columns: 36px 144px auto;
    gap: 8px;
  }
}

.ingredient_image {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;

  background-color: $color-background-2;
  border: 2px solid $color-interface-accent-1;

  @media screen and (max-width: calc($screen-width-desktop-s - 1px)) {
    width: 32px;
    height: 32px;
  }
}

.ingredient_name {
  @include renderFont();

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  @media screen and (max-width: calc($screen-width-desktop-s - 1px)) {
    font-size: $font-size-text-s;
    white-space: wrap;
    overflow: hidden;
  }
}

.ingredient_price {
  padding-right: 24px;
  justify-self: end;

  @media screen and (max-width: calc($screen-width-desktop-s - 1px)) {
    padding: 0;
  }
}

.bottom {
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: calc($screen-width-desktop-s - 1px)) {
    position: fixed;
    box-sizing: border-box;
    width: 100%;
    max-width: 640px;
    bottom: 0;
    padding: 8px;
    background-color: $color-background-1;
  }
}

.date {
  @include renderFont($color: $color-text-2);

  @media screen and (max-width: calc($screen-width-desktop-s - 1px)) {
    font-size: $font-size-text-s;
  }
}

.done {
  color: $color-interface-success;
}
