@import '../../../styles/index.scss';

.ingredient {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 8px;

  transition: all .2s ease-in;

  &_is_dragging {
    opacity: 0;
  }

  &_is_hover {
    transform: scale(0.9);
  }

  svg {
    min-width: 24px;
  }

  @media screen and (max-width: 1023px) {
    gap: 0;
  }
}

.element {
  min-height: auto;

  @media screen and (max-width: 1023px) {
    max-width: 100%;
    width: 100%;
    padding: 8px;
    font-size: $font-size-text-s;

    img {
      margin: 0;
      width: 50px;
      object-fit: contain;
    }
  
    :only-child {
      margin: 0;
      line-height: $font-line-height-xl;

      :nth-child(2) {
        margin: 0;
      }
      
      :nth-child(3) {
        display: none;
      }

      :last-child {
        margin-left: 8px;
      }
    }
  }
}