@import '../../styles/index.scss';

.burger_constructor {
  width: 100%;

  @media screen and (max-width: calc($screen-width-desktop-s - 1px)) {
    display: none;
  }
}

.modal {
  display: block;
}

.error {
  display: flex;
  align-items: center;
  height: 100px;

  @include renderFont();
}