@import '../../styles/index.scss';

.burger_constructor {
  width: 100%;
}

.order_info {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 40px;
  padding-right: 16px;
}

.error {
  display: flex;
  align-items: center;
  height: 100px;

  @include renderFont();
}