@import '../../../styles/index.scss';

.result_list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 16px;
  padding-right: 16px;
}

.middle_list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 16px;
  height: 465px;
  margin-right: -16px;
  padding-right: 8px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.item_top,
.item_bottom {
  transition: all .2s linear;

  &:hover {
    cursor: pointer;
  }

  &:active {
    opacity: .8;
  }
}

.middle_item {
  display: flex;
  align-items: center;
  gap: 8px;
  transition: all .2s linear;

  &:hover {
    cursor: grab;
  }

  &:active {
    opacity: .8;
    transform: scale(1.01);
  }
}