@import '../../styles/index.scss';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 16px;
  padding-bottom: 60px;
}

.identifier {
  max-width: 100%;
  margin-bottom: 32px;

  @include renderFont(
    $family: $font-family-additional,
    $size: $font-size-xl,
    $line-height: $font-line-height-xl
  );

  text-align: center;

  @media screen and (max-width: calc($screen-width-desktop-s - 1px)) {
    font-size: $font-size-l;
    margin-bottom: 18px;
  }
}

.subtitle {
  @include renderFont(
    $weight: 700,
    $size: $font-size-heading,
    $line-height: $font-line-height-heading
  );

  @media screen and (max-width: calc($screen-width-desktop-s - 1px)) {
    font-size: $font-size-heading-s;
  }
}

.image {
  margin: 60px auto;
  width: 120px;

  @media screen and (max-width: calc($screen-width-desktop-s - 1px)) {
    margin: 48px auto;
  }
}

.description {
  @include renderFont();

  @media screen and (max-width: calc($screen-width-desktop-s - 1px)) {
    text-align: center;
  }
}

.description:not(:last-of-type) {
  margin-bottom: 8px;
}

.grey {
  color: $color-text-2;
}