$color-text-1: #F2F2F3;
$color-text-2: #8585AD;

$color-background-1: #1C1C21;
$color-background-2: #131316;

$color-interface-accent-1: #4C4CFF;

$colot-interface-success: #0CC;

$color-interface-input-1: #2F2F37;

$color-interface-error: #E52B1A;