$font-family-main: 'JetBrainsMono', Arial, sans-serif;
$font-family-additional: 'Iceland', Arial, sans-serif;

$font-size-xl: 14.4rem;
$font-size-l: 7.2rem;
$font-size-xs: 1.0rem;
$font-size-price-l: 4.8rem;
$font-size-price: 2.8rem;
$font-size-price-s: 2.2rem;
$font-size-heading-l: 3.6rem;
$font-size-heading: 2.4rem;
$font-size-heading-s: 2.0rem;
$font-size-text: 1.6rem;
$font-size-text-s: 1.4rem;

$font-line-height-xl: 0.83;
$font-line-height-price-l: 0.75;
$font-line-height-price: 0.86;
$font-line-height-heading-l: 1.11;
$font-line-height-heading: 1.25;
$font-line-height-text: 1.5;
$font-line-height-xs: 1.0;