@import '../../styles/index.scss';

.main {
  color: $color-text-1;

  @include renderFont();
}

.container {
  display: grid;
  box-sizing: border-box;
  grid-template-columns: repeat(2, minmax(auto, 600px));
  gap: 40px;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;

  @media screen and (max-width: 1023px) {
    grid-template-columns: 1fr;
    padding: 0;
  }
}