@mixin renderFont(
  $family: $font-family-main,
  $weight: 400,
  $size: $font-size-text,
  $line-height: $font-line-height-text,
  $color: $color-text-1
) {
  font-family: $family;
  font-weight: $weight;
  font-size: $size;
  line-height: $line-height;
  color: $color;
}