@import '../../../styles/index.scss';

.categories {
  height: calc(100vh - 285px);
  overflow-y: scroll;
  overflow-x: hidden;

  @media screen and (max-width: calc($screen-width-desktop-s - 1px)) {
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 73px;
    width: calc(100% - 8px * 2);
    height: calc(100vh - 252px - 72px);
  }
}