@import '../../../styles/index.scss';

.categories {
  height: calc(100vh - 285px);
  overflow-y: scroll;
  overflow-x: hidden;

  @media screen and (max-width: 1023px) {
    padding-left: 8px;
    padding-right: 8px;
    width: calc(100% - 8px * 2);
    height: calc(100vh - 252px);
  }
}