@import '../../styles/index.scss';

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  @media screen and (max-width: calc($screen-width-desktop-s - 1px)) {
    box-sizing: border-box;
    padding-left: 8px;
    padding-right: 8px;
  }
}

.title {
  margin-bottom: 24px;

  @include renderFont(
    $size: $font-size-heading,
    $line-height: $font-line-height-heading
  );
}