@import "../../styles/index.scss";

.feed {
  display: flex;
  max-width: 1280px;
  margin: 0 auto;
  padding: 40px 20px 0;
  flex-direction: column;
  gap: 20px;

  @media screen and (max-width: calc($screen-width-desktop-s - 1px)) {
    padding: calc(40px + 72px) 16px 0;
  }

  @media screen and (max-width: calc($screen-width-tablet - 1px)) {
    padding: calc(40px + 64px) 8px 0;
  }
}

.tabs {
  display: none;

  @media screen and (max-width: calc($screen-width-desktop-s - 1px)) {
    display: flex;
    justify-content: space-between;
  }

  div {
    padding: 16px 0px;
    min-width: 0;
    flex: 1 1 33%;
    
    span {
      font-size: $font-size-text-s;
    }
  }
}

.title {
  @include renderFont(
    $size: $font-size-heading-l,
    $line-height: $font-line-height-heading-l,
    $weight: 700
  );

  @media screen and (max-width: calc($screen-width-desktop-s - 1px)) {
    text-align: center;
    font-size: $font-size-price;
  }
}

.container {
  display: grid;
  grid-template-columns: 60% auto;
  gap: 60px;

  @media screen and (max-width: calc($screen-width-desktop-m - 1px)) {
    margin: 0 auto;
    grid-template-columns: 50% auto;
    gap: 40px;
  }

  @media screen and (max-width: calc($screen-width-desktop-s - 1px)) {
    grid-template-columns: 1fr;
  }
}

.orders_list {
  height: calc(100vh - 188px);
  min-height: 712px;
  overflow-y: scroll;
  overflow-x: hidden;

  @media screen and (max-width: calc($screen-width-desktop-s - 1px)) {
    min-height: 600px;
    height: calc(100vh - 236px);

  }

  &_inactive {
    @media screen and (max-width: calc($screen-width-desktop-s - 1px)) {
      display: none;
    }
  }
}


