@import '../../../styles/index.scss';

.item {
  display: flex;
  width: calc(100% - 24px * 2 - 8px);
  padding: 24px;
  flex-direction: column;
  gap: 24px;

  background-color: $color-background-1;
  border-radius: 40px;
}

.top,
.bottom {
  display: flex;
  justify-content: space-between;
}

.ingredients {
  display: flex;
}