@import '../../styles/index.scss';

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.overlay {
  display: flex;
  z-index: 10000;
  transition: opacity .2s linear, visibility .2s linear;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .6);
  justify-content: center;
  align-items: center;
}

.preloader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  width: 80px;
  height: 80px;
}
.preloader:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid $color-text-2;
  border-color: $color-text-2 transparent $color-text-2 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}