@import '../../../styles/index.scss';

.edit_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 480px;
  
  @media screen and (max-width: calc($screen-width-desktop-s - 1px)) {
    width: calc(100% - 16px * 2);
  }

  @media screen and (max-width: calc($screen-width-tablet - 1px)) {
    width: calc(100% - 8px * 2);
  }
}

.submit {
  max-width: 100%;
  width: fit-content;
}

.cancel {
  max-width: 100%;
  margin-top: 20px;
  width: fit-content;

  @include renderFont($size: $font-size-xs, $line-height: $font-line-height-xs);

  background: none;
  background-color: $color-interface-error;
}