@import "../../styles/index.scss";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding-top: 180px;
  max-width: 480px;
  gap: 80px;

  @media screen and (max-width: 1023px) {
    padding-top: calc(16px + 72px);
    gap: 40px;
  }

  @media screen and (max-width: 767px) {
    padding-top: calc(16px + 64px);
  }
}
