@import '../../styles/index.scss';

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  @media screen and (max-width: 1023px) {
    padding-top: 16px;
  }
}

.image {
  width: 480px;
  
  @media screen and (max-width: 1023px) {
    width: 240px;
  }
}

.name {
  margin-top: 16px;
  margin-bottom: 32px;

  @include renderFont(
    $weight: 700,
    $size: $font-size-heading,
    $line-height: $font-line-height-heading
  );

  @media screen and (max-width: 1023px) {
    text-align: center;
  }
}

.nutrition_values {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;

  @media screen and (max-width: 1023px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.nutrition_value {
  display: flex;
  flex-direction: column;
  gap: 8px;
  min-width: 112px;
}

.type {
  @include renderFont(
    $color: $color-text-2
  );

  text-align: center;

  @media screen and (max-width: 1023px) {
    font-size: $font-size-text-s;
  }
}

.value {
  @include renderFont(
    $family: $font-family-additional,
    $size: $font-size-price,
    $line-height: $font-line-height-price,
    $color: $color-text-2
  );

  text-align: center;

  @media screen and (max-width: 1023px) {
    font-size: $font-size-price-s;
  }
}