@import '../../../styles/index.scss';

.item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  cursor: grab;
  border-radius: 5px;
  transition: background-color .2s linear;

  &:hover {
    background-color: $color-background-1;
  }

  @media screen and (max-width: calc($screen-width-desktop-s - 1px)) {
    cursor: pointer;

    &:hover {
      background-color: transparent;
    }
  }
}

.price {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: fit-content;

  @include renderFont(
    $family: $font-family-additional,
    $size: $font-size-price,
    $line-height: $font-line-height-price,
  );

  @media screen and (max-width: calc($screen-width-desktop-s - 1px)) {
    font-size: $font-size-price-s;
  }
}

.title {
  min-height: 48px;
  text-align: center;

  @media screen and (max-width: calc($screen-width-desktop-s - 1px)) {
    font-size: $font-size-text-s;
  }
}

.counter {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 32px;
  height: 32px;
  top: 0;
  right: 0;

  border-radius: 50%;
  background-color: $color-interface-accent-1;
}

.counter_value {
  @include renderFont(
    $family: $font-family-additional,
    $size: $font-size-price,
    $line-height: $font-line-height-price,
  )
}

.image {
  max-width: 300px;
  width: 100%;
}

.add_button {
  display: none;
  margin-top: 18px;
  padding: 0;
  background-color: transparent;
  color: $color-interface-accent-1;
  font-size: $font-size-text-s;
  cursor: pointer;

  @media screen and (max-width: calc($screen-width-desktop-s - 1px)) {
    display: block;
  }
}