@import '../../styles/index.scss';

.header {
  color: $color-text-1;
  background-color: $color-background-1;
  
  @include renderFont();

  @media screen and (max-width: calc($screen-width-desktop-s - 1px)) {
    position: fixed;
    width: 100%;
    min-height: 40px;
  }
}

.container {
  position: relative;
  display: flex;
  align-items: center;
  max-width: 1280px;
  height: inherit;
  margin: 0 auto;

  @media screen and (max-width: calc($screen-width-desktop-s - 1px)) {
    min-height: 40px;
    padding: 16px 16px;
  }

  @media screen and (max-width: calc($screen-width-tablet - 1px)) {
    box-sizing: border-box;
    padding: 12px 8px;
  }
}

.logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;

  @media screen and (max-width: calc($screen-width-desktop-m - 1px)) {
    left: 58%;
  }

  @media screen and (max-width: calc($screen-width-desktop-s - 1px)) {
    left: 20px;
    transform: none;
  }

  @media screen and (max-width: calc($screen-width-tablet - 1px)) {
    display: none;
  }
}

.logo_mobile {
  display: none;
  height: 40px;

  @media screen and (max-width: calc($screen-width-tablet - 1px)) {
    display: block;
  }
}

.title {
  width: 0;
  height: 0;
  transform: scale(0);
  visibility: hidden;
}

.burger_button {
  display: none;
  background-color: transparent;
  cursor: pointer;

  @media screen and (max-width: calc($screen-width-desktop-s - 1px)) {
    display: flex;
    margin-left: auto;
  }
}

.burger_icon {
  width: 24px;
  height: 24px;
  fill: $color-text-1;

  &:active {
    opacity: .7;
  }
}